.cta {
	width: auto;
	height: auto;
	font-size: 1.5em;
	border-radius: 5px;
	background-color: #0099FF;
	padding: 5px 10px 5px;
	color: white;
	text-decoration: none;
}

.cta:hover {
	background-color: #00FFFF;
}

@media screen and (max-width: 600px) {
	.cta {
		font-size: 1.2em
	}
	
}
